  <header id="header" class="header lock_padding">
    <div class="header_row">
        <div class="header__left-block">
            <img src="/css/img/header_icon.jpg" alt="" class="header_icon">
            <div class="header_nav">
                <ul class="header_ul">
                    <li class="header_li"><a class="header_a" href="">My films</a></li>
                    <li class="header_li"><a class="header_a modal_link" href="#modal_add">Add film</a></li>
                </ul>
            </div>
        </div>
        <div class="search">
            <input 
                id="search_input"
                class="search_input" 
                type="text" 
                placeholder=" What film do you want to find?">
            <button id="clear_search" class="clear_search">clear</button>
        </div>
    </div>
</header>