.submit {
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    height: 35px;
    width: 65px;
}

.buttons_add {
    display: flex;
    align-items: center;
    margin-left: 42%;
}

body {
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

label {
    margin-top: 30px;
    font-size: 30px;
}

.add_inputs input,
.edit_inputs input {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

.return {
    margin-left: 10px;
}